* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #2D936C;
	color: #fff;
	font-family: 'Varela Round', sans-serif;
}


h1 {
  font-size: 72px;
  margin: 50px 0;
  text-align: center;
}

input[type="text"] {
	background: transparent;
	font-size: 20px;
	border: none;
	outline: none;
	font-family: 'Varela Round', sans-serif;
	width: 100%;
	padding: 15px 15px 15px 0;
	text-indent: 20px;
	color: #fff;
	transition: all 0.3s;
	border-bottom: 1px solid #fff;
}

input[type="text"]:focus {
	border-bottom: 1px solid #000;
}

input[type="text"]::-webkit-input-placeholder {
	color: #fff;
}

input[type="text"]:-moz-input-placeholder {
	color: #fff;
}

input[type="text"]:-ms-input-placeholder {
	color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 820px;
}

.main-header {
	position: relative;
}

.main-header input {
	padding-right: 100px;
}

/*Buttons add todo*/
.buttons {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -15px;
}

.buttons a {
	display: inline-block;
	transition: all 0.3s;
	font-size: 16px;
	cursor: pointer;
}


.fa {
	font-size: 30px;
	color: #fff;
	transition: all 0.2s;
}

.fa:hover {
	color: #000;
	transform: scale(1.2);
}

/*Style todo list*/
.todo {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.todo li {
	position: relative;
	background: #FFFFFF;
	padding: 1rem;
	border-radius: 10px;
	text-align: left;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 20px;
	color: #000;
	padding: 20px 120px 20px 20px;
	transition: all 0.6s;
	box-shadow: 0 1px 9px #143a2b;
}

.todo .fa {
	color: #2D936C;
}

.todo li.fill {
	text-decoration: line-through;
}

.todo li.fill i.fa-check {
	color: #000;
	transform: scale(1.2);
}

.todo .fa:hover {
	color: #000;
}

.todo .buttons a {
	padding-right: 15px;
	margin-right: 11px;
	border-right: 1px solid #2D936C;
}

.todo .buttons a:last-child {
	padding-right: 0;
	margin-right: 0;
	border: 0;
}

.count {
	display: inline-block;
	background: #fff;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-weight: bold;
	position: absolute;
	top: 40%;
	left: 0;
	color: #000;
	text-align: center;
}